*~
*.bak
*.o
*.exe
cscope*
*#
ltmain.sh
*.lo
*.la
install-sh
depcomp
config.h
po/POTFILES
po/Makefile*
po/stamp-it
po/*.gmo
po/*.pot
missing
mkinstalldirs
stamp-h1
*.libs/
Makefile
*core
py-compile
intltool-extract.in
intltool-merge.in
intltool-update.in
*.stamp
*.pyc
*.tmp.ui
*.defs
*.log
.deps
*.db
*.dll
*.aps
*.so
build-stamp
debian/files
debian/seafile
debian/*.substvars
seaf-server
seafserv-gc
seaf-migrate
seaf-fsck
seaf-fuse
controller/seafile-controller
tools/seaf-server-init
tests/conf/misc/
tests/conf/seafile-data/
tests/conf/ccnet.db
tests/conf/ccnet.sock
tests/conf/GroupMgr
tests/conf/OrgMgr
tests/conf/PeerMgr
*.dylib
.DS_Store
*.pc
!*.cmake.pc
*.tar.gz
/compile
/test-driver
*.dmp
/symbols
__pycache__/
.cache/
CMakeCache.txt
CMakeFiles
cmake_install.cmake
*.a
build.ninja
.ninja*
.cmake
cmake-build-*
